
// Zeroying start
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
// Zeroying end

// Fonts start
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// Fonts end

.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
// Header start
.header {
    background: #222222;
    padding: 18px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__inner {
            display: flex;
            align-items: center;
    
            .logo__link {
                margin-right: 41px;
            }

            .search__btn {
              border: 0;
              background: transparent;
            }
        }

        .header__nav {
          display: flex;
          align-items: center;
            .nav__link {
                margin-right: 33px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .burger {
              border: 0;
              cursor: pointer;
              margin-right: 30px;
              padding: 12px 0;
              background: transparent;

              &:hover .burger__item,&:hover .burger__item::after, &:hover .burger__item::before {
                background: #F16D7F;
                transition: .30s;
              }

              .burger__item {
                display: block;
                width: 32px;
                height: 3px;
                background: #fff;
                font-size: 0;
                color: transparent;
                position: relative;

                &::before, &::after {
                  position: absolute;
                  left: 0;
                  content: "";
                  width: 100%;
                  height: 100%;
                  background: #fff;
                }

                &::before {
                  top: 10px;
                }

                &::after {
                  top:-10px;
                }
              }
              
            }

            .pay__button {
              border: 0;
              background: transparent;
            }
        }
    }
}
// Header end

// Intro start
.intro {



  .wrapper__intro {
    margin: 0 auto;
    background: url(../img/man__bg.png) no-repeat;
    background-position: -224px bottom;
    height: 764px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    .dec__block_intro {
      height: 92px;
      width: 12px;
      background: #F16D7F;
      position: absolute;
      right: 462px;
      top: 339px
    }

    .intro__text {
      margin-right: 90px;

      .intro__title {
        text-transform: uppercase;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        color: #222222;
      }

      .intro__subtitle {
        text-transform: uppercase;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        color: #222222;

        .intro__span {
          color: #F16D7F;
        }
      }
    }
  }
}
// Intro end

// Offer start
.wrapper__offer {
  padding: 95px 0 96px;

  .offer__inner {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;

    .for__element {
      width: 33.33333%;
      padding: 0 0 22.81% 0;
      margin-right: 30px;
      position: relative;



      .for__element_pic {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .for__bg {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        background: rgba(33, 22, 22, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;

        .for__bg_text {
          text-align: center;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          text-transform: uppercase;

          .bg__text_span {
            font-family: Lato;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28.8px;
            color: #F16D7F;
            text-transform: uppercase;
          }
        }
      }
    }

    .for__element:nth-child(3) {
      margin-right: 0;
    }

  }

  .for__element_long {
    width: 100%;
    padding: 0 0 15.79% 0;
    margin-top: 30px;
    position: relative;



    .for__element_pic {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .for__bg {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      background: rgba(33, 22, 22, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;

      .for__bg_text {
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-transform: uppercase;

        .bg__text_span {
          font-family: Lato;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28.8px;
          color: #F16D7F;
          text-transform: uppercase;
        }
      }
    }
  }
}
// Offer end

// Fetured start
.fetured__text {
  text-align: center;

  .fetured__title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
  }

  .fetured__subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
  }
}

.fetured__cards_inner {
  display: flex;
  .fetured__card {
    background: #F8F8F8;
    width: 33.33333%;
    padding: 0 0 36.85% 0;
    margin-right: 30px;
    position: relative;
  
    .fetured__card_link {

      .fetured__card_pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .fetured__card_text {
      position: absolute;
      top: 100%;
      padding: 25px 28px 20px 18px;
      width: 100%;
      height: 100%;

      .card__title {
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 12px;
      }

      .card__subtitle {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin-bottom: 18px;
      }

      .card__price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
      }
    }
  }

  .fetured__card:nth-child(3) {
    margin-right: 0;
  }
}

.sec_layer {
  margin-top: 50%;
}
// Fetured end